@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');
*{
    font-family: Barlow Semi Condensed;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.main_container {
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    padding: 30px;
    background: #ECF2F8;
  }
  
.card {
    border-radius: 8px;
    border:none;
  }

.purple{
    border-radius: 8px;
    background-color: #733FC8;
    height: 444px;
    position: relative;
}


.gray{
    border-radius: 8px;
    background-color: #48556A;
    height: 240px;

}
.white{
    border-radius: 8px;
    background-color: #ffff;
    height: 222px;
}
.black{
    border-radius: 8px;
    background-color: #19202D;
    height: 384px;
}
.white2{
    border-radius: 8px;
    background-color: #fff;
    height: 438px;
}




.purplebox_top{
    padding: 27px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.purplebackgroundimage{
    position: absolute;
   left: 60%;
}
.Daniel h3{
  color: #fff;
}
.Daniel p{
    color: #fff;
    opacity: 0.5;
}
.purple_title h1{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 120%;
    color: #fff;
    height: 27%;
    position: absolute;
    bottom: 55%;
}
.purple_title p{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 89%;
    height: 40%;
    position: absolute;
    bottom: 8%;
    color: #CFCFCF;
    opacity: 0.7;

}




.gray_top{
    padding: 27px;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 10%;
    
}
.Jonathan{
    margin-top: 20px;
}
.Jonathan_image{
    margin-top: 20px;
}
.Jonathan h3{
    color: #fff;
}
.Jonathan p{
    color: #fff;
    opacity: 0.5;
}
.gray_title h1{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 120%;
    color: #fff;
    height: 27%;
    margin-top: 10px;
}
.gray_title p{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 89%;
    height: 40%;
    color: #CFCFCF;
    opacity: 0.7;
    margin-top: 20px;
} 




.white_top{
    padding: 27px;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 10%;
}
.Jeanette{
    margin-top: 20px;
}
.Jeanette_image{
    margin-top: 20px;
}
.Jeanette h3{
    color: #48556A;
}
.Jeanette p{
    color: #48556A;
    opacity: 0.5;
}
.white_title h1{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 120%;
    color: #48556A;
    height: 27%;
    margin-top: 10px;
}
.white_title p{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 89%;
    height: 40%;
    color: #48556A;
    opacity: 0.7;
    margin-top: 20px;
}





.black_top{
    padding: 27px;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 10%;
}
.Patrick_image{
    margin-top: 20px;
}
.Patrick{
    margin-top: 20px;
}
.Patrick h3{
 color: #fff;
}
.Patrick p{
    color: #fff;
    opacity: 0.5;
}
.black_title h1{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 120%;
    color: #ffff;
    height: 27%;
    margin-top: 10px;
}
.black_title p{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 89%;
    height: 40%;
    color: #ffff;
    opacity: 0.7;
    margin-top: 20px;
}




.white2_top{
    padding: 27px;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 10%;
}
.Kira_image{
    margin-top: 20px;
}
.Kira{
    margin-top: 20px;
}
.Kira h3{
    color: #48556A;
}
.Kira p{
    color: #48556A;
    opacity: 0.5;
}
.white2_title h1{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 120%;
    color: #48556A;
    height: 27%;
    margin-top: 10px;
}
.white2_title p{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 89%;
    height: 40%;
    color: #48556A;
    opacity: 0.7;
    margin-top: 20px;
}




@media (width > 1000px) {
    body {
      padding: 100px;
    }
    .main_container {
      grid-template-columns: repeat(4, auto);
    }
  
    .firstbox {
      grid-column: 1 / 3;
    }
  
    .sixthbox {
      grid-column: 4 / 4;
      grid-row: 1 / 3;
    }
  
    .fifthbox {
      grid-column: 2 / 4;
    }
    .gray{
    height: 444px;
    }
    .white{
        height: 384px;
    }
    .white2{
        height: 848px;
    }
  }
  
